
.sidebar-logo {
  max-width: 150px;
}

.sidebar-title {
  font-size: 1.7rem;
}

.platform-table td {
  vertical-align: middle;
}

.platform-table td > div.sourceCode {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* Make book sidebar match website-style background */
.sidebar {
  background-color: #f8f9fa !important; /* same as Bootstrap 'light' */
  border-right: 1px solid #ddd;
}

/* Hide section numbers in sidebar nav */
.sidebar .chapter-number {
  display: none;
}